@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

@media (max-width:600px) {

    .footer {
        height: 3rem;
        display: flex;
        flex-direction: column;
    }
    .f-para {
        font-size: 12px;
        padding: 1px;
        margin: auto;
    }
    .fotter-div {
        margin: auto;
    }
}